/*
So, by default, there always is some kind of margin and padding in the server page (headings, paddings inside boxes, etc.). This can get troublesome if we’re trying to use our own logic to build the webpage. Therefore, we can just have a ground reset rule in the CSS file, which is called global reset.
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 233, 205);
  font-family: Verdana;
  font-size: 12px;
  padding: 50px;
}

h1 {
  font-size: 20px;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  /*This applies to all the paragraphs*/
  margin-bottom: 20px;
}

.first {
  color: brown;
}

#your-name {
  background-color: rgb(254, 180, 180);
  border: 3px solid #660014;
  width: 450px;
  padding: 15px;
  margin-top: 15px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: mediumaquamarine;
}

#poppy-war-trilogy {
  width: 450px;
}

/* In case we need to select a specific part of the html code, let's assume h2 inside the form box*/
#your-name h2 {
  color: magenta;
}
